@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}
html, body {
    height: 100%;
    width: 100%;
}
.flex-container {
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.header {    
    position: relative;
    width: 100%;
    height: 180px;
    margin: 0 auto;
}

/* 로그인, 회원가입, 마이페이지 */
#userMenu {
    width: 100%;
    margin: 0 auto;
}
#userMenu .list_menu {
    float: right;
}
#userMenu * {
    font-weight: 400;
    font-size: 12px;
    color: #414141;
}
ul {
    display: block;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

#userMenu .menu {
    position: relative;
    float: left;
    z-index: 400;
    margin-right: 15px;
}
#userMenu .link:hover{
    color: #4E7FF2;
}
#userMenu:after{
    content: "";
    display: block;
    overflow: hidden;
    width: 100%;
    height: 15px;
    font-size: 0;
    text-indent: -9999px;
}

/* 로고 헤더 */
#headerLogo .logo img {
    display: block;
    width: 140px;
    margin: 0 auto;
}

/* gnb */
.gnb_main {
    width: 100%;
    margin: 30px auto; 
    margin-bottom: 0;
    border-right: none;
    border-left: none;
    box-shadow: 0 1px 5px 0 rgb(32 33 36 / 20%);
}
.gnb{
    text-align: center;
    padding: 8px 0;
    margin: 0;
}
.gnb li {
    display: inline;
    margin: 0 15px;
}
.gnb a {
    display: inline-block;

    width: 140px;
    font-size: 14px;
    font-weight: 500;
    color: #909090;
    margin: 0;
}
.link:hover {
    color: #4E7FF2;
    font-weight: 700;
}

/* container */
#wrapper .container {
    width: 995px;
    margin: 70px auto;
    margin-bottom: 40px;
    padding: 0 70px;
}

footer .container {
    width: 970px;
    margin: 30px auto;
    padding: 0 65px;
}

/*서브 제목*/
#subTitle .subTitle {
    position: relative;
    display: inline-block;

    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 40px;
    color: #414141;
}

#Stype {
    display: block;
    width: 80px;
    border: 1px solid #909090;
    border-radius: 2.5px;
    padding: 3px;
    margin-top: 10px;

    font-size: 13px;
    font-weight: 500;
    color: #414141;
}

/* main1 */
#main1 {
    padding: 15px;
    margin: 15px;
    background: #FFFFFF;
    border: 1px solid #909090;
}
.one-container1 {
    display: flex;
    justify-content : space-between;
    align-items: flex-end;
}
#title1 {
    font-size: 18px;
    color: #414141;
    font-weight: bold;
}
.two-container1 {
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 600;
    color: #6C6C6C;
}
.three-container1{
    display: flex;
    justify-content:right;
}
#point1 {
    font-size: 18px;
    font-weight: 500;
    color: #4E7FF2;
    padding-top: 10px;
}

.slick-slide{
    padding-right: 30px;
}
.arrow {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:560px;
    z-index: 200;
}
.prev {
    margin-right: 780px;
}
.arrow img {
    width: 40px;
}

#SurveyList1 {
    padding:35px;
}
#SurveyList2 {
    padding:35px;
}
#SurveyList3 {
    padding:35px;
}
#SurveyList4 {
    padding:35px;
}

/*footer*/
footer {
    background-color: white;
    color: #909090;

    bottom: 0;
    margin: 0 auto;
    width: 100%;
}
#wrapper {
    min-height: 100vh;
    position: relative;
    height: 900px;
}
table {
    width: 100%;
}
footer a {
    color: #909090;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}
#footer_MoA {
    font-family: 'Montserrat';
    font-size: 25px;
    margin: 0;
    font-weight: 600;
}
#from {
    font-size: 12px;
    font-weight: 500;
}
footer ul {
    padding-inline-start: 100px;
}
footer td:nth-child(2) {
    text-align: right;
    font-size: 10px;
}
footer td p {
    font-size: 10px;
}
#info {
    padding: 20px 0;
}

.swal-wide {
    font-size: 12px !important;
    height: 200px !important;
}