@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}
html, body {
    height: 100%;
    width: 100%;
}
.flex-container {
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
}
ul, li {
    list-style: none;
}

.header {    
    position: relative;
    width: 100%;
    height: 180px;
    margin: 0 auto;
}

#backTop {
    position: absolute;
    /* display: block; */
    /* height: 50%; */
    /* left: 50%; */
    z-index: -100;
}

/* 로그인, 회원가입, 마이페이지 */
#userMenu {
    width: 100%;
    margin: 0 auto;
}
#userMenu .list_menu {
    float: right;
}
#userMenu * {
    font-weight: 400;
    font-size: 12px;
    /* letter-spacing: 0.1em; */
    color: #414141;
}
ul {
    display: block;
    margin-block-start: 10px;
    margin-block-end: 10px;

}

#userMenu .menu {
    position: relative;
    float: left;
    z-index: 400;
    margin-right: 15px;
}

#userMenu:after{
    content: "";
    display: block;
    overflow: hidden;
    width: 100%;
    height: 15px;
    font-size: 0;
    text-indent: -9999px;
}
#userMenu .link:hover{
    color: #4E7FF2;
}

/* 로고 헤더 */
#headerLogo .logo img {
    display: block;
    width: 140px;
    margin: 0 auto;
}

/* gnb */
.gnb_main {
    width: 100%;
    margin: 30px auto; 
    margin-bottom: 0;
    border-right: none;
    border-left: none;
    box-shadow: 0 1px 5px 0 rgb(32 33 36 / 20%);
}
.gnb{
    text-align: center;
    padding: 8px 0;
    margin: 0;
/*     vertical-align:middle; */
}
.gnb li {
    display: inline;
    margin: 0 15px;
}
.gnb a {
    display: inline-block;

    width: 140px;
    font-size: 14px;
    font-weight: 500;
    color: #909090;
    margin: 0;
}
.link:hover {
    color: #4E7FF2;
    font-weight: 700;
}

/* container */
#wrapper .container {
    /* min-height: 300vh; */
    width: 970px;
    margin: 70px auto;
    margin-bottom: 100px;
    padding: 0 70px;
}

footer .container {
    /* min-height: 300vh; */
    width: 970px;
    margin: 30px auto;
    padding: 0 65px;
}

/*서브 제목*/
#subTitle .subTitle {
    position: relative;

    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 40px;
    color: #414141;
}

/*footer*/
footer {
    background-color: white;
    color: #909090;

    bottom: 0;
    margin: 0 auto;
    width: 100%;
}

#wrapper {
    /* height: auto; */
    min-height: 100vh;
    position: relative;
    /* padding-bottom: 226.302; */
}

table {
    width: 100%;
}

footer a {
    color: #909090;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}
#footer_MoA {
    font-family: 'Montserrat';
    font-size: 25px;
    margin: 0;
    font-weight: 600;
}
#from {
    font-size: 12px;
    font-weight: 500;
}
/* footer .container {
    padding: 0 auto;
} */
footer ul {
    padding-inline-start: 100px;
}
footer td:nth-child(2) {
    text-align: right;
    font-size: 10px;
}
footer td p {
    font-size: 10px;
}
#info {
    padding: 20px 0;
}

/* main */
#main {
    box-sizing: border-box;
    /* padding: 4% 4% 0% 4%; */
    padding: 30px 30px 0 30px;

    height: auto;
    background: #FFFFFF;
    border: 1px solid #909090;
    border-bottom: 0;
}

.flex-container2 {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}

#inputTitle {
    display: inline-block;
    border: none;
    outline: none; /* 입력 시 테두리 지움*/
    
    font-weight: 600;
    font-size: 20px;
    color: #414141;
}

#Stype {
    display: inline-block;
    width: 80px;
    border: 1px solid #909090;
    border-radius: 2.5px;
    padding: 3px;
    margin-left: 377px;

    font-size: 13px;
    font-weight: 500;
    color: #414141;
}

#inputExplain {
    border: none;
    outline: none;
    display: block;

    font-weight: 400;
    font-size: 15px;
    color: #909090;
    line-height: 30px;
}

#inputDate {
    display: inline-block;
    width: 120px;
    border: 1px solid #909090;
    border-radius: 2.5px;
    padding: 3px;
    margin-top: 10px;
    padding-left: 8px;

    font-size: 13px;
    font-weight: 500;
    color: #414141;
}

.deadline {
    display: inline-block;
    /* font-weight: 600; */
    font-size: 14px;
    color: #414141;
    margin-left: 10px;
}

/* placeholder 폰트 색 변경, 크롬/엣지 둘 다 적용 */
input:nth-child(1)::placeholder {color: #414141;}
input:nth-child(1)::-webkit-input-placeholder {color: #414141;}
input:nth-child(1)::-ms-input-placeholder {color: #414141;}

input:nth-child(2)::placeholder{color: #909090;}
input:nth-child(2)::-webkit-input-placeholder {color: #909090;}
input:nth-child(2)::-ms-input-placeholder{color: #909090;}

.surveyElement {
    margin-top: 30px;
}

.Qnum {
    display: inline-block;
    margin-right: 15px;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #414141;
}

.Qinput {
    display: inline-block;
    width: 610px;

    border: none;
    border-bottom: 1px solid #919191;
    padding-left: 3px;
    margin-bottom: 5px;

    outline: none;
    font-weight: 600;
    font-size: 18px;
    color: #414141;
    line-height: 30px;
}

.Qtype {
    width: 100px;
    border: 1px solid #909090;
    border-radius: 2.5px;
    padding: 3px;
    margin-left: 15px;

    font-size: 13px;
    font-weight: 500;
    color: #414141;

    /* 화살표 아이콘 없애고 바꿀라 했더니 개구림 */

    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../image/Rectangle\ 83.png') no-repeat 95% 50%; */
}

.Qtype4 {
    display: block;
    width: 750px;
    border: 1px solid #919191;
    outline: none; 
    border-radius: 8px;
    resize: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 7px;

    font-weight: 500;
    font-size: 14px;
    color: #414141;
}

/* select::-ms-expand {
    display: none;
} */

.makeOption {
    margin: 11px 0;
}

.addOption {
    margin: 11px 0;
}

#checkButton {
    display: inline-block;
    margin-right: 5px;
/* 
    width: 2.7%; */
}

.optionInput {
    display: inline-block;
    width: 718px;

    border: none;
    padding-left: 15px;

    outline: none;
    font-weight: 500;
    font-size: 15px;
    color: #414141;
}

input:nth-child(5)::placeholder{color: #909090;}
input:nth-child(5)::-webkit-input-placeholder {color: #909090;}
input:nth-child(5)::-ms-input-placeholder{color: #909090;}

input:nth-child(7)::placeholder {color: #414141;}
input:nth-child(7)::-webkit-input-placeholder {color: #414141;}
input:nth-child(7)::-ms-input-placeholder {color: #414141;}

/* #xButton {
    display: inline-block;
    width: 2.6%;
} */

#xButton {
    width: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#trash {
    width: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#plus {
    width: 65px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.Qdelete {
    margin-left: 724px;
}

.Qadd {
    margin: 65px 0 65px 350px;
}

#submit_btn {
    background: linear-gradient(91.36deg, #4E7FF2 -24.31%, #9CC2FF 130.3%);
    box-shadow: 0px -10px 40px rgba(156, 194, 255, 0.3);
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;

    width: 830px;
    padding: 12px 0;
    cursor: pointer;
    margin: 20px 0 0 -31px;
}

.swal-wide {
    font-size: 12px !important;
    height: 200px !important;
}