@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}
html, body {
    height: 100%;
    width: 100%;
}
.flex-container {
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}

.header {    
    position: relative;
    width: 100%;
    height: 180px;
    margin: 0 auto;
}

/* 로그인, 회원가입, 마이페이지 */
#userMenu {
    width: 100%;
    margin: 0 auto;
}
#userMenu .list_menu {
    float: right;
}
#userMenu * {
    font-weight: 400;
    font-size: 12px;
    color: #414141;
}
ul {
    display: block;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

#userMenu .menu {
    position: relative;
    float: left;
    z-index: 400;
    margin-right: 15px;
}

#userMenu:after{
    content: "";
    display: block;
    overflow: hidden;
    width: 100%;
    height: 15px;
    font-size: 0;
    text-indent: -9999px;
}

#userMenu .link:hover{
    color: #4E7FF2;
}

/* 로고 헤더 */
#headerLogo .logo img {
    display: block;
    width: 140px;
    margin: 0 auto;
}

/* gnb */
.gnb_main {
    width: 100%;
    margin: 30px auto; 
    margin-bottom: 0;
    border-right: none;
    border-left: none;
    box-shadow: 0 1px 5px 0 rgb(32 33 36 / 20%);
}
.gnb{
    text-align: center;
    padding: 8px 0;
    margin: 0;
}
.gnb li {
    display: inline;
    margin: 0 15px;
}
.gnb a {
    display: inline-block;

    width: 140px;
    font-size: 14px;
    font-weight: 500;
    color: #909090;
    margin: 0;
}
.link:hover {
    color: #4E7FF2;
    font-weight: 700;
}
/* container */
#wrapper .container {
    width: 430px;
    margin: 70px auto;
    margin-bottom: 30px;
}

footer .container {
    width: 970px;
    margin: 30px auto;
    padding: 0 65px;
}

/*footer*/
footer {
    background-color: white;
    color: #909090;

    bottom: 0;
    margin: 0 auto;
    width: 100%;
}

#wrapper {
    min-height: 100vh;
    position: relative;
}
table {
    width: 100%;
}
footer a {
    color: #909090;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}
#footer_MoA {
    font-family: 'Montserrat';
    font-size: 25px;
    margin: 0;
    font-weight: 600;
}
#from {
    font-size: 12px;
    font-weight: 500;
}
footer ul {
    padding-inline-start: 100px;
}
footer td:nth-child(2) {
    text-align: right;
    font-size: 10px;
}
footer td p {
    font-size: 10px;
}
#info {
    padding: 20px 0;
}

/* main */
#main {
    box-sizing: border-box;
    padding: 30px 30px 0 30px;

    height: auto;
    background: #FFFFFF;
    border: 1px solid #909090;
    border-bottom: 0;
}

#subTitle .subTitle {
    position: relative;

    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 25px;

    color: #414141;
}

.flex-container2 {
    display: flex;
    flex-direction: column;
}

.box {
    padding-bottom: 35px;
    
}

/* 중복확인 */
#idBtn1 {
    display: inline-block;
    position: absolute; 
    width: 60px;
    padding: 6px 0;
    border: none;
    border-bottom: 1px solid #B5B5B5; 

    background-color: #FFFFFF;
    color: #4E7FF2;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    
    cursor: pointer;
}

#idBtn2 {
    display: inline-block;
    position: absolute;
    width: 60px;
    padding: 6px 0;
    border: none;
    border-bottom: 1px solid #B5B5B5;

    background-color: #FFFFFF;
    color: #4E7FF2;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    
    cursor: pointer;
}
#idBtn3 {
    display: inline-block;
    position: absolute;
    width: 60px;
    padding: 6px 0;
    border: none;
    border-bottom: 1px solid #B5B5B5;

    background-color: #FFFFFF;
    color: #4E7FF2;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    
    cursor: pointer;
}
.alert {
    display: none;
    width: 360px;
    border: none;

    background-color: #FFFFFF;
    font-size: 11px;
    font-weight: 400;
    
    padding-left: 5px;
}

.inputId {
    display: inline-block;
    position: relative;
    width: 300px;

    border: none;
    border-bottom: 1px solid #B5B5B5;
    outline: none; /* 입력 시 테두리 지움*/
    
    font-weight: 500;
    font-size: 14px;
    color: #909090;

    padding-bottom: 7px;
}
.email{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    color: #909090;
}
.inputNum{
    display: inline-block;
    position: relative;
    width: 300px;

    border: none;
    border-bottom: 1px solid #B5B5B5;
    outline: none; /* 입력 시 테두리 지움*/
    
    font-weight: 500;
    font-size: 14px;
    color: #909090;

    padding-bottom: 7px;
}

.inputEmail{
    display: inline-block;
    position: relative;
    width: 300px;

    border: none;
    border-bottom: 1px solid #B5B5B5;
    outline: none; /* 입력 시 테두리 지움*/

    font-weight: 500;
    font-size: 14px;
    color: #909090;

    /* margin-bottom: 15px; */
    padding-bottom: 7px;
}
.inputName {
    display: inline-block;
    position: relative;
    width: 300px;

    border: none;
    border-bottom: 1px solid #B5B5B5;
    outline: none; /* 입력 시 테두리 지움*/
    
    font-weight: 500;
    font-size: 14px;
    color: #909090;

    padding-bottom: 7px;
}

.inputPW {
    display: block;
    width: 360px;

    border: none;
    border-bottom: 1px solid #B5B5B5;
    outline: none; /* 입력 시 테두리 지움*/
    
    font-weight: 500;
    font-size: 14px;
    color: #909090;

    padding-bottom: 7px;
}

.checkPW {
    display: block;
    width: 360px;

    border: none;
    border-bottom: 1px solid #B5B5B5;
    outline: none; /* 입력 시 테두리 지움*/
    display: block;
    
    font-weight: 500;
    font-size: 14px;
    color: #909090;

    padding-bottom: 7px;
}

/* placeholder 폰트 색 변경, 크롬/엣지 둘 다 적용 */
input::placeholder{color: #909090;}
input::-webkit-input-placeholder {color: #909090;}
input::-ms-input-placeholder{color: #909090;}

#singup_btn {
    background: linear-gradient(91.36deg, #4E7FF2 -24.31%, #9CC2FF 130.3%);
    box-shadow: 0px -10px 40px rgba(156, 194, 255, 0.3);
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;

    width: 430px;
    padding: 12px 0;
    cursor: pointer;
    margin: 20px 0 0 -31px;
}

.swal-wide {
    font-size: 12px !important;
    height: 200px !important;
}