<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>폼 목록</title>
    <link rel="stylesheet" href="/css/formList.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="icon" href="/image/logo.png">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
    <div class="flex-container">
        <div id="wrapper">
            <!-- header -->
            <div class="header">
                <!-- 로그인, 회원가입, 마이페이지 -->
                <div id="userMenu">
                    <ul class="list_menu">
                        <li class="menu menu_login">
                            <a class="link link_login" href="login.html">로그인</a>
                            <a class="link link_logout" href="main.html" onclick="logout();">로그아웃</a>
                        </li>
                        <li class="menu menu_join">
                            <a onclick="login_alert7();" class="link link_join" href="#">회원가입</a>
                        </li>
                        <!-- 이름 수정 -->
                        <li class="menu menu_mypage"> 
                            <a onclick="login_alert1();" class="link link_mypage" href="#">마이페이지</a>
                        </li>
                    </ul>
                </div>
                <!-- 로고 -->
                <div id="headerLogo" class="layout-wrapper">
                    <h1 class="logo">
                        <a class="link_main" href="main.html">
                            <img src="/image/zipLogo.png"  alt="로고" />
                        </a>
                    </h1>
                </div>
                <!-- 메뉴바 -->
                <div class="gnb_main">
                    <ul class="gnb">
                        <li class="menu1">
                            <a href="formList.html" class="link all" >전체 설문 보기</a>
                        <li class="menu2">
                            <a href="makeForm.html" onclick="login_alert2();"  class="link new">새 설문 만들기</a>
                        </li>
                        <li class="menu3">
                            <a href="mySurvey.html" onclick="login_alert3();" class="link best">내가 만든 설문</a>
                        </li>
                        <li class="menu4">
                            <a href="interestedSurvey.html" onclick="login_alert4();" class="link bargain">관심 있는 설문조사</a>
                        </li>
                        <li class="menu5">
                            <a href="participatedSurvey.html" onclick="login_alert5();" class="link event">참여한 설문조사</a>
                        </li>
                        <li class="menu6">
                            <a href="point.html" onclick="login_alert6();" class="link bargain">포인트 내역</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- container -->
            <div class="container">
                <!-- 서브 제목 -->
                <div id="subTitle" >
                    <p class="subTitle">설문 조사 목록</p>
                    <select id="Stype" onchange="showSurvey()">
                        <option value="1" selected>사회현상</option>
                        <option value="2">마켓팅</option>
                        <option value="3">브랜드</option>
                        <option value="4">아이디어</option>
                    </select>
                </div>
                <div class="arrow">
                    <div><span class="prev"><img src="/image/Group 568.png"></span></div>
                    <div><span class="next"><img src="/image/Group 569.png"></span></div>
                </div>
                <div id="SurveyList1"></div>
                <div id="SurveyList2"></div>
                <div id="SurveyList3"></div>
                <div id="SurveyList4"></div>
            </div>
        </div>

        <footer>
            <div class="container">
                <table>
                    <td>
                        <p id="footer_MoA">MoA</p>
                        <a href="#">개인정보처리방침</a>&nbsp;<a href="#">이용약관</a>&nbsp;<a href="#">제휴문의</a>
                        <p id="from">UMC / 컴공선배</p>
                    </td>
                    <td>
                        <ul>
                            <p id="info">
                            서비스명: MoA / 대표: 김은혜 / tel: 010-2020-1030
                            <br>개인정보 보호 책임자: 김은혜 / Email: kimehhk@gmail.com</p>
                            <p>COPYRIGHT (C) ALL RIGHTS RESERVED</p>
                        </ul>
                    </td>
                </table>
            </div>
        </footer>
    </div>
   
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="/js/formList.js"></script>
    <script src="/js/check.js"></script>
</body>
</html>